/*

____\/\\\_________/\\\____/\\\\\\\\\\\\______
____\/\\\_______ /\\\____/\\\/////////\\_____
____\//\\\______/\\\____\//\\\______\///_____
_____\//\\\____/\\\______\////\\\____________
______\//\\\__/\\\__________\////\\\_________
_______\//\\\/\\\______________\////\\\______
________\//\\\\\________/\\\______\//\\\_____
_________\//\\\________\///\\\\\\\\\\\/______
__________\///__________\////////////________

*/

// Compass
@charset "utf-8";
@import "compass/css3";
@import "reset.css.scss";

// Converts pixels to EMs
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

// Media Query breakpoints
@mixin breakpoint($media) {
  @if $media == hand {
    @media screen and (min-width: em(460)) { @content; }
  }
  @if $media == lap {
    @media screen and (min-width: em(600)) { @content; }
  }
  @else if $media == desk {
    @media screen and (min-width: em(740)) { @content; }
  }
  @else if $media == wall {
    @media screen and (min-width: em(1000)) { @content; }
  }
  @else if $media == highres {
    @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) { @content; }
  }
}

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table
  }
  &:after {
    clear: both;
  }
}

@mixin image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

@mixin prevent-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin prevent-bleed {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

/* ------------------------------------------
  COLOURS
--------------------------------------------- */
$color-red: #444;
$color-black: #37302a;
$color-grey: #bab9b6;
$color-brown: #847160;
$color-white: #fff;

/* ------------------------------------------
  FONTS
--------------------------------------------- */
$font-body: "chaparral-pro", Georgia, "times new roman", times, serif;
$font-headers: "proxima-nova-extra-condensed", sans-serif;

/* ------------------------------------------
  FONTS
--------------------------------------------- */
::-moz-selection {
  background: $color-red;
  color: $color-white;
  text-shadow: none;
  }

::selection {
  background: $color-red;
  color: $color-white;
  text-shadow: none;
  }

img::selection {
  background: transparent;
  }

img::-moz-selection {
  background: transparent;
  }

h1::selection {
  -webkit-text-stroke: 2px $color-white;
  background: $color-red;
  color: $color-red;
  }

::selection:window-inactive,
.cssmask h1::selection:window-inactive {
  background: $color-grey;
  }

/* ------------------------------------------
  RWD
--------------------------------------------- */
@-webkit-viewport {width:device-width}
@-moz-viewport {width:device-width}
@-ms-viewport {width:device-width}
@-o-viewport {width:device-width}
@viewport {width:device-width}

img, video {
  width: auto;
  max-width: 100%;
  height: auto;
}

.preload * {
  @include transition(none !important);
}

/* ------------------------------------------
  BASE
--------------------------------------------- */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: $color-black;
  background: $color-white;
  font: normal 112.5%/1.4 $font-body;
  @include breakpoint(hand) {
    font-size: 125%;
  }
}

.content {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0 8%;
  width: 84%;
  @include breakpoint(hand) {
    padding: 0 12%;
    width: 76%;
  }
  @include breakpoint(lap) {
    padding: 0 15%;
    width: 70%;
  }
  @include breakpoint(desk) {
    max-width: em(600);
    padding: 0;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
  @include breakpoint(wall) {
    max-width: none;
  }
}

.wrapper {
  max-width: em(760);
  margin: 0 auto;
}

.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $color-red;
}


/* ------------------------------------------
  LINKS
--------------------------------------------- */
a {
  color: $color-red;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
.btn {
  color: $color-white;
  background: $color-red;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5em 1em .46em;
  line-height: normal;
  display: inline-block;
  font-weight: 400;
  font-family: $font-headers;
  font-size: 112.5%;
  letter-spacing: 2px;
  @include breakpoint(desk) {
    font-size: em(22, 20);
  }
}

/* ------------------------------------------
  TYPE
--------------------------------------------- */
h1, h2, h3 {
  font-family: $font-headers;
  text-transform: uppercase;
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 700; 
  font-size: 275%;
  line-height: 0.82;
  letter-spacing: -0.03em;
  margin-bottom: .4em;
  color: $color-red;
  @include breakpoint(lap) {
    font-size: 400%;
  }
  @include breakpoint(desk) {
    margin-bottom: .2em;
    font-size: 620%;
  }
  @include breakpoint(wall) {
    font-size: 880%;
  }
}

h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-size: 175%;
  line-height: 0.82;
  margin-bottom: .6em;
  color: $color-red;
  @include breakpoint(desk) {
    font-size: em(38);
  }
}

h3 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  font-size: 125%;
  line-height: 1;
  margin-bottom: 1em;
  letter-spacing: 1px;
  color: $color-black;
  @include breakpoint(desk) {
    font-size: em(24, 20);
  }
}

p {
  margin-bottom: 1.5em;
}

.section p {
  @include hyphens(auto);
}

em {
  font-style: italic;
}

/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */
#nav {
  z-index: 1;
  font-family: $font-headers;
}

#nav,
#nav * {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left;
  @include breakpoint(desk) {
    text-align: center;
  }
}

#nav li {
  float: left;
  width: 100%;
  @include breakpoint(desk) {
    float: none;
    display: inline-block;
    width: auto;
    margin-right: .7em;
  }
}

#nav a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 112.5%;
  letter-spacing: 2px;
  color: $color-white;
  text-decoration: none;
  width: 100%;
  background: $color-red;
  border-bottom: 1px solid $color-white;
  padding: .7em 1em;
  float: left;
  @include breakpoint(desk) {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 2em .7em .6em;
    font-size: em(22, 20);
    background: transparent;
    color: $color-black;
    border: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

#nav .active a {
  @include breakpoint(desk) {
    -webkit-font-smoothing: subpixel-antialiased;
    color: $color-white;
    background: $color-red;
    &:hover { text-decoration: none }
  }
} 

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  @include breakpoint(desk) {
    position: static;
    max-height: none;
  }
}

#nav.opened {
  position: relative;
  max-height: 9999px;
}

#nav-toggle {
  width: 70px;
  height: 55px;
  float: right;
  @include prevent-user-select;
  @include image-replacement;
  background: $color-red url("../images/hamburger.gif") no-repeat 50% 33%;
  @include breakpoint(highres) {
    background-image: url("../images/hamburger-retina.gif");
    @include background-size(100px 100px !important);
  }
  @include breakpoint(desk) {
    display: none;
  }
}

/* ------------------------------------------
  FRONTPAGE
--------------------------------------------- */
.intro, .footer {
  float: left;
  width: 100%;
}

.image {
  @include breakpoint(wall) {
    margin-left: -1em;
  }
}

.intro {
  margin: 2em auto 3em;
  @include breakpoint(desk) {
    margin: 5em auto 3.5em;
    .intro-container {
      max-width: em(504);
      margin: 0 auto;
    }
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: em(340);
      text-align: left;
      float: left;
    }
    .btn {
      margin: .7em 1.3em 0 0;
      float: right;
    }
  }
  @include breakpoint(wall) {
    margin-top: 6em;
  }

}

/* ------------------------------------------
  FOOTER
--------------------------------------------- */
.footer {
  color: $color-grey;
  text-align: center;
  font-size: 16px;
  width: 90%;
  margin: 2.8em 5% 2em;
  a {
    color: $color-grey;
  }
  @include breakpoint(desk) {
    margin-top: 6em;
    margin-bottom: 4em;
  }
}

/* ------------------------------------------
  SECTIONS
--------------------------------------------- */
.section {
  max-width: em(504);
  margin: 0 auto;
  text-align: left;
  margin-top: 3em;
  @include breakpoint(desk) {
    margin-top: 5em;
  }

  ul {
    list-style-type: circle;
    font-weight: 600;
    @include breakpoint(desk) {
      margin-left: 0;
    }
  }

}

pre, code {
  font-family: monospace, monospace;
}

pre {
  padding: 2em 2em 1.3em;
  margin-bottom: 3em;
  font-size: 75%;
  color: $color-black;
  background: lighten($color-grey, 26%);
  white-space: pre;
  white-space: no-wrap;
  overflow-x: scroll;
  @include box-shadow(0 1px 4px lighten($color-grey, 24%), inset 0 0 0 1px lighten($color-grey, 18%));
}

pre::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
  width: 8px;
  height: 8px;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: lighten($color-grey, 10%);
}

/* ------------------------------------------
  HIGHLIGHTING
--------------------------------------------- */
.com { color: $color-grey; } // Comments
.lit { color: $color-red }
.pun { color: $color-red }
.opn, .clo, .fun { color: $color-black; }
.str, .atv { color: $color-red }
.typ, .atn, .dec, .var { color: $color-brown; }

/* ------------------------------------------
  DEMO
-----------*/

#nav,
.content {
  float: left;
}
