/*

____\/\\\_________/\\\____/\\\\\\\\\\\\______
____\/\\\_______ /\\\____/\\\/////////\\_____
____\//\\\______/\\\____\//\\\______\///_____
_____\//\\\____/\\\______\////\\\____________
______\//\\\__/\\\__________\////\\\_________
_______\//\\\/\\\______________\////\\\______
________\//\\\\\________/\\\______\//\\\_____
_________\//\\\________\///\\\\\\\\\\\/______
__________\///__________\////////////________

*/

// Compass
@charset "utf-8";
@import "compass/css3";
@import "reset.css.scss";

// Converts pixels to EMs
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

// Media Query breakpoints
@mixin breakpoint($media) {
  @if $media == hand {
    @media screen and (min-width: em(460)) { @content; }
  }
  @if $media == lap {
    @media screen and (min-width: em(600)) { @content; }
  }
  @else if $media == desk {
    @media screen and (min-width: em(720)) { @content; }
  }
  @else if $media == wall {
    @media screen and (min-width: em(1000)) { @content; }
  }
  @else if $media == highres {
    @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) { @content; }
  }
}

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table
  }
  &:after {
    clear: both;
  }
}

@mixin image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  display: block;
}

@mixin prevent-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin prevent-bleed {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

/* ------------------------------------------
  COLOURS
--------------------------------------------- */
$color-red: #f23900;
$color-black: #151414;
$color-grey: #c5bfbd;
$color-white: #fff;

/* ------------------------------------------
  FONTS
--------------------------------------------- */
@font-face {
  font-family: "franklin-custom";
  src: url("../fonts/franklin.eot");
  src: url("../fonts/franklin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/franklin.woff") format("woff"),
    url("../fonts/franklin.ttf") format("truetype"),
    url("../fonts/franklin.svg#wf") format("svg");
}

/* ------------------------------------------
  RWD
--------------------------------------------- */
@-webkit-viewport {width:device-width}
@-moz-viewport {width:device-width}
@-ms-viewport {width:device-width}
@-o-viewport {width:device-width}
@viewport {width:device-width}

img, video {
  width: auto;
  max-width: 100%;
  height: auto;
}

.preload * {
  @include transition(none !important);
}

/* ------------------------------------------
  BASE
--------------------------------------------- */
body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: $color-black;
  background: $color-white;
  font: normal 100%/1.4 Georgia, "times new roman", times, serif;
  @include breakpoint(hand) {
    font-size: 112.5%;
  }
}

.content {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0 5%;
  width: 90%;
  max-width: em(600);
  @include breakpoint(hand) {
    padding: 0 12%;
    width: 76%;
  }
  @include breakpoint(lap) {
    padding: 0 15%;
    width: 70%;
  }
  @include breakpoint(desk) {
    padding: 0;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}

.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $color-red;
}


/* ------------------------------------------
  LINKS
--------------------------------------------- */
a {
  color: $color-red;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
.btn {
  color: $color-white;
  background: $color-red;
  text-decoration: none;
  padding: .5em 1em;
  display: inline-block;
}

/* ------------------------------------------
  TYPE
--------------------------------------------- */
h1 {
  -webkit-font-smoothing: antialiased;
  font: normal 300%/0.82 "franklin-custom", sans-serif;
  text-transform: uppercase;
  margin-bottom: .4em;
  color: $color-red;
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  @include breakpoint(lap) {
    font-size: 400%;
  }
  @include breakpoint(desk) {
    margin-bottom: .2em;
    font-size: 600%;
  }
}

p {
  margin-bottom: 1.5em;
}

/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */
#nav {
  z-index: 1;
}
#nav,
#nav * {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav,
#nav ul {
  list-style: none;
  width: 100%;
  float: left;
  @include breakpoint(desk) {
    text-align: center;
  }
}

#nav li {
  float: left;
  width: 100%;
  @include breakpoint(desk) {
    float: none;
    display: inline-block;
    width: auto;
    margin-right: .7em;
  }
}

#nav a {
  color: $color-white;
  text-decoration: none;
  width: 100%;
  background: $color-red;
  border-bottom: 1px solid $color-white;
  padding: .8em 1em;
  float: left;
  @include breakpoint(desk) {
    padding: 2.4em 1em .6em;
    font-size: 87.5%;
    background: transparent;
    color: $color-black;
    border: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  @include breakpoint(highres) {
    background-image: url("../images/hamburger-retina.gif");
    @include background-size(25px 20px !important);
  }
}

.index #nav .index a {
  @include breakpoint(desk) {
    color: $color-white;
    background: $color-red;
    &:hover { text-decoration: none }
  }
} 

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  @include breakpoint(desk) {
    position: static;
    max-height: none;
  }
}

#nav.opened {
  position: relative;
  max-height: 9999px;
}

#nav-toggle {
  width: 70px;
  height: 55px;
  float: right;
  @include image-replacement;
  background: transparent url("../images/hamburger.gif") no-repeat 50% 80%;
  @include breakpoint(highres) {
    background-image: url("../images/hamburger-retina.gif");
    @include background-size(25px 20px !important);
  }
  @include breakpoint(desk) {
    display: none;
  }
}

/* ------------------------------------------
  FRONTPAGE
--------------------------------------------- */
.intro,
.images,
.footer {
  float: left;
  width: 100%;
}

.intro {
  margin: 2em auto 3em;
  @include breakpoint(desk) {
    margin: 5em auto 3.5em;
    .intro-container {
      max-width: em(476);
      margin: 0 auto;
    }
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: em(340);
      text-align: left;
      float: left;
    }
    .btn {
      margin: 1em .4em 0 0;
      float: right;
    }
  }
}

.images {
  position: relative;

  .iphone {
    position: absolute;
    bottom: -8%;
    left: 0;
    z-index: 2;
    width: 30%;
  }
  
  .ipad {
    width: 88%;
    z-index: 1;
    float: right;
    position: relative; 
  }

}

/* ------------------------------------------
  FOOTER
--------------------------------------------- */
.footer {
  color: $color-grey;
  text-align: center;
  font-size: 14px;
  width: 90%;
  margin: 4.8em 5% 2em;
  a {
    color: $color-grey;
  }
  @include breakpoint(desk) {
    margin-top: 6em;
  }
}