/* ------------------------------------------
  IMPORTS
--------------------------------------------- */
@charset "utf-8";
@import "compass/css3";
@import "reset.css.scss";

/* ------------------------------------------
  CONVERT PX TO EM
--------------------------------------------- */
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

/* ------------------------------------------
  MEDIA QUERIES
--------------------------------------------- */
@mixin breakpoint($media) {
  @if $media == hand {
    @media screen and (min-width: em(460)) { @content; }
  }
  @else if $media == lap {
    @media screen and (min-width: em(600)) { @content; }
  }
  @else if $media == desk {
    @media screen and (min-width: em(740)) { @content; }
  }
  @else if $media == wall {
    @media screen and (min-width: em(1000)) { @content; }
  }
  @else if $media == helicopter {
    @media screen and (min-width: em(1700)) { @content; }
  }
  @else if $media == microscope {
    @media screen and (max-width: em(300)) { @content; }
  }
  @else if $media == highres {
    @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) { @content; }
  }
}

/* ------------------------------------------
  CLEARFIX
--------------------------------------------- */
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table
  }
  &:after {
    clear: both;
  }
}

/* ------------------------------------------
  COLOURS
--------------------------------------------- */
$color-red: #f43c12;
$color-black: #37302a;
$color-grey: #bab9b6;
$color-brown: #847160;
$color-white: #fff;

/* ------------------------------------------
  FONTS
--------------------------------------------- */
$font-body: "chaparral-pro", Georgia, "times new roman", times, serif;
$font-headers: "proxima-nova-extra-condensed", sans-serif;

/* ------------------------------------------
  SELECTIONS
--------------------------------------------- */
::-moz-selection {
  background: $color-black;
  color: $color-white;
}

::selection {
  background: $color-black;
  color: $color-white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

h1::selection {
  -webkit-text-stroke: 2px $color-red;
  background: transparent;
  color: transparent;
}

::selection:window-inactive,
h1::selection:window-inactive {
  background: $color-grey;
}

/* ------------------------------------------
  RWD
--------------------------------------------- */
@-webkit-viewport {width:device-width}
@-moz-viewport {width:device-width}
@-ms-viewport {width:device-width}
@-o-viewport {width:device-width}
@viewport {width:device-width}

img, video {
  width: auto;
  max-width: 100%;
  height: auto;
}

.preload * {
  @include transition(none !important);
}

/* ------------------------------------------
  BASE
--------------------------------------------- */
body {
  min-width: 200px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: $color-black;
  background: $color-white /*url("../images/baseline.gif") repeat*/;
  font: normal 112.5%/1.4 $font-body;
  @include breakpoint(hand) {
    font-size: 125%;
  }
  @include breakpoint(helicopter) {
    font-size: 150%;
  }
  @include breakpoint(microscope) {
    font-size: 87.5%;
  }
}

.content {
  float: left;
  text-align: center;
  margin: 0;
  padding: 0 8%;
  width: 84%;
  @include breakpoint(hand) {
    padding: 0 12%;
    width: 76%;
  }
  @include breakpoint(lap) {
    padding: 0 15%;
    width: 70%;
  }
  @include breakpoint(desk) {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
  @include breakpoint(wall) {
    max-width: none;
  }
}

.wrapper {
  max-width: em(760);
  margin: 0 auto;
}

.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $color-red;
}

/* ------------------------------------------
  LINKS
--------------------------------------------- */
a {
  color: $color-red;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

/* ------------------------------------------
  BUTTONS
--------------------------------------------- */
.btn {
  color: $color-white;
  background: $color-red;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5em 1em .46em;
  line-height: normal;
  display: inline-block;
  font-weight: 400;
  font-family: $font-headers;
  font-size: 112.5%;
  letter-spacing: 2px;
  @include transition(background .5s ease);
  &:hover {
    background: darken($color-red, 10%);
  }
  &:active {
    opacity: .7;
  }
  @include breakpoint(desk) {
    font-size: em(22, 20);
  }
}

/* ------------------------------------------
  TYPOGRAPHY
--------------------------------------------- */
h1, h2, h3 {
  font-family: $font-headers;
  text-transform: uppercase;
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  color: $color-red;
}

h1 {
  font-size: 275%;
  line-height: 0.82;
  letter-spacing: -0.03em;
  margin-bottom: .4em;
  @include breakpoint(lap) {
    font-size: 400%;
  }
  @include breakpoint(desk) {
    margin-bottom: .2em;
    font-size: 620%;
  }
  @include breakpoint(wall) {
    font-size: 880%;
  }
}

h2 {
  letter-spacing: -0.02em;
  font-size: 175%;
  line-height: 0.82;
  margin-bottom: .7em;
  @include breakpoint(desk) {
    font-size: em(38);
  }
}

h3 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
  font-size: 125%;
  line-height: 1;
  float: left;
  width: 100%;
  margin: .2em 0 1em;
  letter-spacing: 1px;
  color: $color-black;
  @include breakpoint(desk) {
    font-size: em(24, 20);
  }
}

p {
  margin-bottom: 1.5em;
  .section & {
    @include hyphens(auto);
  }
}

/* ------------------------------------------
  NAVIGATION
--------------------------------------------- */
#nav {
  z-index: 1;
  font-family: $font-headers;
}

#nav,
#nav * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav,
#nav ul {
  margin: 0;
  list-style: none;
  width: 100%;
  float: left;
  @include breakpoint(desk) {
    text-align: center;
  }
}

#nav li {
  float: left;
  width: 100%;
  @include breakpoint(desk) {
    float: none;
    display: inline-block;
    width: auto;
    margin-right: .7em;
  }
}

#nav a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 112.5%;
  letter-spacing: 2px;
  color: $color-white;
  text-decoration: none;
  width: 100%;
  background: $color-red;
  border-bottom: 1px solid $color-white;
  padding: .5em 1em;
  float: left;
  &:focus {
    background: darken($color-red, 10%);
    outline: none;
  }
  @include breakpoint(desk) {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 1.96em .7em .5em;
    font-size: em(22, 20);
    background: transparent;
    color: $color-black;
    border: 0;
    @include transition(background .5s ease);
    &:hover,
    &:focus {
      background: lighten(mix($color-grey, $color-brown, 70%), 26%);
    }
  }
}

#nav .active a {
  @include breakpoint(desk) {
    -webkit-font-smoothing: subpixel-antialiased;
    color: $color-white;
    background: $color-red;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      background: darken($color-red, 10%);
    }
  }
} 

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  @include breakpoint(desk) {
    position: static;
    max-height: none;
  }
}

#nav.opened {
  position: relative;
  max-height: 9999px;
}

/* ------------------------------------------
  NAVIGATION TOGGLE
--------------------------------------------- */
#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background: $color-red url("../images/hamburger.gif") no-repeat 50% 33%;
  @include breakpoint(highres) {
    background-image: url("../images/hamburger-retina.gif");
    @include background-size(100px 100px !important);
  }
  @include breakpoint(desk) {
    display: none;
  }
}

/* ------------------------------------------
  FRONTPAGE INTRO
--------------------------------------------- */
.intro, .footer {
  float: left;
  width: 100%;
}

.image {
  @include breakpoint(wall) {
    margin-left: -0.5em;
  }
}

.intro {
  margin: 2em auto 3em;
  @include breakpoint(desk) {
    margin: 4.96em auto 4.1em;
    .intro-container {
      max-width: em(504);
      margin: 2.4em auto;
    }
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: em(340);
      text-align: left;
      float: left;
    }
    .btn {
      margin: .7em 1.3em 0 0;
      float: right;
    }
  }
  @include breakpoint(wall) {
    margin-top: 5.86em;
  }

}

/* ------------------------------------------
  SECTIONS
--------------------------------------------- */
.section {
  max-width: em(504);
  margin: 0 auto;
  text-align: left;
  margin-top: 3em;
  @include clearfix;
  ul {
    list-style-type: circle;
    font-weight: 600;
    @include breakpoint(lap) {
      margin-left: 0;
    }
    @include breakpoint(wall) {
      margin: 1.34em 0 2em;
      line-height: 1.4;
      width: 55%;
      margin-left: -7%;
      float: left;
      li {
        margin-bottom: 1.4em;
      }
      &.list-2 {
        float: right;
        margin-left: 0;
        margin-right: -13%;
      }
    }
  }
}

#features {
  @include breakpoint(wall) {
    padding-bottom: 1.74em;
    margin-bottom: 5.26em;
    border-bottom: 1px solid lighten($color-grey, 10%);
  }
}

/* ------------------------------------------
  CODE BLOCKS
--------------------------------------------- */
pre, code {
  font-family: "panic sans", Monaco, monospace, monospace;
}

pre {
  padding: 2em 2em 1.3em;
  margin-bottom: 3em;
  font-size: 75%;
  color: lighten($color-black, 4%);
  background: lighten($color-grey, 26%);
  white-space: pre;
  white-space: no-wrap;
  overflow-x: scroll;
  @include box-shadow(
    0 1px 4px lighten($color-grey, 22%),
    inset 0 0 0 1px lighten($color-grey, 18%)
  );
  &:hover {
    background: lighten($color-grey, 27%);
    @include box-shadow(
      0 1px 4px lighten($color-grey, 22%),
      inset 0 0 0 1px lighten($color-grey, 8%)
    );
  }
}

pre::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: transparent;
  width: 8px;
  height: 8px;
}

pre::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: lighten($color-grey, 10%);
}

/* ------------------------------------------
  HIGHLIGHTING
--------------------------------------------- */
.com { color: $color-grey } // Comments
.lit { color: mix($color-brown, $color-red, 50%) }
.pun { color: lighten($color-brown, 20%) }
.opn, .clo, .fun { color: $color-black }
.str, .atv { color: mix($color-brown, $color-red, 50%) }
.typ, .atn, .dec, .var { color: $color-brown }

/* ------------------------------------------
  DOWNLOAD SECTION
--------------------------------------------- */
#download {
  margin-top: 1em;
  text-align: center;
  @include breakpoint(desk) {
    margin-top: 3em;
  }
  span {
    width: 100%;
    display: block;
    margin: .2em 0;
  }
  @include breakpoint(desk) {
    span {
      width: auto;
      display: inline;
      margin: 0 .6em;
    }
  }
  .repo {
    background: $color-brown;
    &:hover {
      background: darken($color-brown, 10%);
    }
  }
}

/* ------------------------------------------
  FOOTER
--------------------------------------------- */
.footer {
  color: $color-grey;
  text-align: center;
  font-size: 16px;
  width: 90%;
  margin: 2.8em 5% 2em;
  a {
    color: $color-grey;
    &:hover {
      color: $color-black;
    }
  }
  @include breakpoint(desk) {
    margin-top: 6em;
    margin-bottom: 4em;
  }
}
