<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Responsive Nav &mdash; Responsive Navigation Plugin</title>
    <meta name="author" content="@arielsalminen">
    <meta name="description" content="Responsive navigation plugin without library dependencies and with fast touch screen support">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon.png">
    <script>
      var doc = document, docEl = doc.documentElement;
      docEl.className = docEl.className.replace(/(^|\s)no-js(\s|$)/, " js ");
    </script>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "all" %>
    <script src="//use.typekit.net/sxv1brn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!--[if lte IE 9]><%= javascript_include_tag "respond" %><![endif]-->
  </head>
  <body onload="prettyPrint()">
    <div class="border" id="home"></div>
    <div class="wrapper">
      <div id="nav">
        <ul>
          <li class="active"><a href="http://responsive-nav.com">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#instructions">Usage Instructions</a></li>
          <li><a href="https://github.com/arielsalminen/responsive-nav.js" rel="external">View on GitHub</a></li>
        </ul>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">Brought to you by <a href="https://arie.ls" rel="external">Ariel Salminen</a>. Follow&nbsp;me on <a href="https://social.design.systems/@ariel" rel="external">Mastodon</a>&nbsp;for&nbsp;updates.</div>
    </div>

    <script>
      // Init responsive-nav.js
      var navigation = responsiveNav("#nav");
    </script>
  </body>
</html>
