---
title: Responsive Navigation Plugin
description: Prototype page description
---

<div class="intro">
  <h1>Responsive Nav</h1>
  <div class="intro-container">
    <p>Responsive navigation plugin without library dependencies and with fast touch screen support. Try it out by <em>resizing</em>&nbsp;this&nbsp;window.</p>
    <a href="https://github.com/viljamis/responsive-nav.js/archive/master.zip" rel="external" class="btn">Download</a>
  </div>
</div>

<img src="images/illustration.jpg" class="image" alt="Responsive Nav displayd in various sizes">

<div id="features" class="section">
  <h2>Features</h2>
  <ul>
    <li>~1kb minified and gzipped</li>
    <li>Doesn’t require any external libraries</li>
    <li>Simple markup using lists</li>
    <li>Uses CSS3 transitions and touchstart</li>
  </ul><ul>
    <li>Removes the 300ms delay between a physical tap and the click&nbsp;event</li>
    <li>Makes it possible to use CSS3 transition with max-height:&nbsp;auto</li>
    <li>Built accessibility in mind, meaning that it works on screen readers&nbsp;too</li>
    <li>Works in <em>all</em> major desktop and mobile browsers including IE6 and&nbsp;up</li>
  </ul>
</div>

<div id="instructions" class="section">
  <h2>Instructions</h2>
  
<h3>Link files</h3>
<pre class="prettyprint lang-html"><code>&lt;!-- Put these into the &lt;head> -->
&lt;script src="responsive-nav.js">&lt;/script>
&lt;link rel="stylesheet" href="responsive-nav.css">
</code></pre>

<h3>Add markup</h3>
<pre class="prettyprint lang-html"><code>&lt;div id="nav">
  &lt;ul>
    &lt;li class="active">&lt;a href="#">Home&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">About&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">Projects&lt;/a>&lt;/li>
    &lt;li>&lt;a href="#">Contact&lt;/a>&lt;/li>
  &lt;/ul>
&lt;/div>
</code></pre>

<h3>Hook up the plugin</h3>
<pre class="prettyprint lang-html"><code>&lt;!-- Put this right before the &lt;body> ending tag -->
&lt;script>
  var navigation = new ResponsiveNav("#nav");
&lt;/script>
</code></pre>

<h3>Customizable options</h3>
<pre class="prettyprint lang-js"><code>var navigation = new ResponsiveNav("#nav", { // Selector: The ID of the wrapper
  transition: 400, // Integer: Speed of the transition, in milliseconds
  label: "Menu", // String: Label for the navigation toggle
  insert: "after", // String: Insert the toggle before or after the navigation
  customToggle: "", // Selector: Specify the ID of a custom toggle
  debug: false // Boolean: Log debug messages to console, true or false
});
</code></pre>
</div>

<div id="download" class="section">
  <a href="https://github.com/viljamis/responsive-nav.js/archive/master.zip" rel="external" class="btn">Download the latest version (1.0)</a>
  <p>or</p>
  <a href="https://github.com/viljamis/responsive-nav.js" rel="external" class="btn">View the repository</a>
</div>