---
title: Prototype
description: Prototype page description
---

<div class="intro">
  <h1>Responsive Nav</h1>
  <p>Responsive navigation plugin without library dependencies and with fast touch screen support. Try it out by <a href="#">resizing</a> this&nbsp;window.</p>
  <a href="#" class="btn">Download</a>
</div>

<div class="images">
  <img src="images/iphone.png" alt="iPhone">
  <img src="images/ipad.jpg" alt="iPad">
</div>